{% extends 'base.html.twig' %}

{% block title %}New ServiceAV{% endblock %}

{% block body %}
    <h1>Create new ServiceAV</h1>

    {{ include('service_av/_form.html.twig') }}

    <a href="{{ path('service_a_v_index') }}">Retour</a>
{% endblock %}
