<table border="2">
    <tr>
        <td>id</td>
        <td>Name</td>
    </tr>

        <tr>
            <td>{{ classroom.id }}</td>
            <td>{{ classroom.name }}</td>
        </tr>

</table>
