

{% block body %}
    <h1>Update Exercice</h1>
    {{ form_start(form) }}
    <table>

        <tr><td>Name</td><td>{{ form_widget(form.name) }}</td></tr>

    </table>
    {{ form_end(form) }}
{% endblock %}