{% extends 'base.html.twig' %}

{% block title %}Edit TypeAV{% endblock %}

{% block body %}
    <h1>Edit TypeAV</h1>

    {{ include('type_av/_form.html.twig', {'button_label': 'modifier'}) }}

    <a href="{{ path('type_a_v_index') }}">Retour</a>

    {{ include('type_av/_delete_form.html.twig') }}
{% endblock %}
